{% load static %}
<!-- Aside -->
<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 lg:mr-[20%] order-1 md:order-2"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -mt-96"
    x-transition:enter-end="opacity-100 mt-0">            
    <!-- Categories -->
    <section class="card p-4">
        <h2>Categories</h2>
        <ul class="hoverlist">
            
            {% for category in categories %}
            <li class="{% if category.slug == tag.slug %}highlight{% endif %}">
                <a href="{%url 'category' category.slug %}">
                    <img class="w-8 h-8 object-cover mr-2" src="{{ category.image.url }}" alt="">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <!-- Categories End -->

    <!-- Top Photos -->
    <section class="card p-4">
        <div class="flex items-center">
            <img class="w-7 h-7 -mt-3" src="{% static 'images/fireheart_black.svg' %}">
            <h2>Top Posts</h2>
        </div>
        <ul class="hoverlist">
            
            {% for post in top_posts %}
            <li>                    
                <a href="{% url 'post' post.id %}" class="flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        <img class="w-10 h-10 rounded-lg object-cover mr-3 shrink-0" src="{{ post.image }}" alt="post image">
                        
                        {% if post.author %}
                        <img class="w-6 h-6 rounded-full object-cover mr-1" src="{{ post.author.profile.avatar }}" alt="avatar">
                        <span class="font-bold text-sm mr-1">{{ post.author.username }}</span>
                        {% else %}
                        <img class="w-6 h-6 rounded-full object-cover mr-1" src="{% static 'images/avatar_default.svg' %}" alt="">
                        <span class="font-bold text-sm mr-1">No author</span>
                        {% endif %}
                    </div>                        
                    <span class="{% if user in post.likes.all %}font-bold{% else %}font-light{% endif %} text-sm text-grey-500 shrink-0">{{ post.likes.count }} Like{{ post.likes.count|pluralize:'s' }} / {{ post.comments.count }}</span>
                </a>
            </li>
            {% endfor %}
                
        </ul>
    </section>
    <!-- Top Photos End -->

    <!-- Top Captions -->
    <section class="card p-4">
        <div class="flex items-center">
            <img class="w-7 h-7 -mt-3" src="{% static 'images/fireheart_black.svg' %}">
            <h2 class="text-2xl font-bold leading-loose mb-3">Top Comments</h2>
        </div>
        <ul class="hoverlist">
            
            {% for comment in top_comments %}
            <li>                    
                <a href="{% url 'post' comment.parent_post.id %}" class="flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        
                        {% if comment.author %}
                        <img class="w-8 h-8 rounded-full object-cover mr-1" src="{{ comment.author.profile.avatar }}" alt="">
                        <span class="font-bold text-sm mr-1">{{ comment.author.username }} : {{ comment.body|truncatechars:10 }}</span>
                        {% else %}
                        <img class="w-8 h-8 rounded-full object-cover mr-1" src="{% static 'images/avatar_default.svg' %}" alt="">
                        <span class="font-bold text-sm mr-1">No author : {{ comment.body|truncatechars:10 }}</span>
                        {% endif %}
                            
                    </div>
                    <span class="{% if user in comment.likes.all %}font-bold{% else %}font-light{% endif %} text-sm text-gray-500">{{ comment.likes.count }} Like{{ comment.likes.count|pluralize:'s' }} / {{ comment.replies.count }}</span>
                </a>
            </li>
            {% endfor %}                
        </ul>
    </section>        
    <!-- Top Captions End -->
</aside>
<!-- Aside End -->